<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>{{ .Title }}</title>
    <link rel="icon" href="data:image/svg,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☕️</text></svg>">
    {{ if .Katex }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
    {{ end }}
    <meta charset="utf-8">
    <meta name="description" content="Author: {{ .Author }}">
    {{ if .HideFromRobots }}
    <meta name="robots" content="noindex,nofollow">
    {{ end }}
  </head>
  <body style = 'font: 1em "Hiragino Sans GB", sans-serif; box-sizing:border-box; width:100%; padding:1em; line-height:2em;'>
    <section role="main" style = 'box-sizing:border-box; width:50%; height:100%; padding: 1em;'>
      <div role="heading" aria-level="1">
        <h1>Mathbook Cafe</h1>

        <p>Welcome to the Mathbook Cafe <span> ☕️</span></p>
        <p>Here you will find the online home of <em>Calculus:&nbsp;Beautifully&nbsp;Written</em>.</p>
        <p>You can download the layout proof <a style='color:#1565C0' href="/files/proof.pdf" target="_blank" >here</a>.</p>
      </div>
    </section>
    <footer>
      <div>
        {{ .Copyright }}
      </div>
    </footer>
  </body>
</html>